.ap-header {

    text-align: center;

    .ap-header-image {
        width: 200px;
    }

    .ap-header-title {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .ap-header-subtitle {
        font-weight: bold;
        font-size: 12px;
        margin-top: 2px;
    }

    .ap-header-dates {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
}

