.ap-identification-front {

    .ap-content {
        // margin-top: 10px;

        .ap-content-table {
            width: 100%;
            border-spacing: 0px;
    
            td {
                vertical-align: top;
                padding: 5px 5px;
            }
        }

        .ap-content-photo {
            margin-top: 5px;
            text-align: center;
            
            img {
                width: 90px;
                height: 90px;
                border: .50px solid #999999;
                border-radius: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        .ap-content-signature {
            text-align: center;

            .ap-line {
                margin-top: 30px;
                width: 100%;
                border-top: 1px solid black;
            }

            small {
                font-family: 'BulldogBold';
                font-size: 10px;
            }
        }

        .ap-content-details 
        {
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 5px;

            .ap-watermark {
                position: relative;
                width: 100%;
        
                img {
                    position: absolute;
                    opacity: 0.25; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
                    filter:alpha(opacity=25); /* for <= IE 8 */
                    width: 175px;
                    height: 175px;
                    top: -15px;
                    left: 40px;
                    right: 0;
                    z-index: 1;
                }
            }

            .ap-name {
                text-align: center;


                small {
                    font-family: 'ArialItalic';
                    font-size: 8px;
                    font-style: italic;
                }
    
                p {
                    font-family: 'BulldogBold';
                    margin: 0;
                    font-size: 24px;
                    font-weight: bold;
                }
            }
    
            .ap-other {
                margin-top: 5px;
    
                table {
                    width: 100%;
                    border-spacing: 0px;
            
                    td {
                        vertical-align: top;
                        padding: 0;
                    }
                }
    
                .ap-details {
                    margin-top: 10px;
                    text-align: center;

                    small {
                        font-family: 'ArialItalic';
                        font-size: 8px;
                        font-style: italic;
                    }
    
                    p {
                        font-family: 'BulldogBold';
                        margin: 0;
                        font-size: 14px;
                        font-weight: bold;
                        margin-bottom: -5px;
                    }
                }
            }
        }

        
    }

}

.ap-identification-back {

    .ap-content {
        margin-top: 5px;

        h3 {
            font-family: 'ArialBold';
            text-align: center;
            font-size: 12px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ap-content-watermark {
            position: relative;
            width: 100%;
    
            img {
                position: absolute;
                opacity: 0.25; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
                filter:alpha(opacity=25); /* for <= IE 8 */
                width: 175px;
                height: 175px;
                top: 25px;
                left: 30%;
                right: 0;
                z-index: -1;
            }
        }

        .ap-content-table {
            width: 100%;
            border-spacing: 0px;
    
            td {
                vertical-align: top;
                padding: 5px 5px;
            }
        }

        .ap-content-details 
        {
            padding-left: 10px;
            padding-right: 10px;

            .ap-name {
                small {
                    font-family: 'ArialItalic';
                    font-size: 8px;
                    font-style: italic;
                }
    
                p {
                    font-family: 'ArialBold';
                    margin: 0;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
    
            .ap-other {
                margin-top: 1px;
    
                table {
                    width: 100%;
                    border-spacing: 0px;
            
                    td {
                        vertical-align: top;
                        padding: 0;
                    }
                }
    
                .ap-details {
                    small {
                        font-family: 'ArialItalic';
                        font-size: 8px;
                        font-style: italic;
                    }
    
                    p {
                        font-family: 'ArialBold';
                        margin: 0px;
                        font-size: 11px;
                        font-weight: bold;
                    }
                }
            }
        }

        .ap-content-approvals {
            margin-top: 10px;

            .ap-approval-with-signature {
                text-align: center;

                img {
                    width: 90px;
                    height: 30px;
                    // margin-top: -10px;
                }

                p {
                    font-family: 'ArialBold';
                    margin-bottom: 0%;
                    margin-top: -5px;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 0;
                }

                small {
                    font-family: 'ArialRegular';
                    font-size: 8px;
                    font-weight: bold
                }
            }

            .ap-approval-without-signature {
                text-align: center;

                p {
                    font-family: 'ArialBold';
                    margin-bottom: 0%;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 0;
                    margin-top: 5px;
                }

                small {
                    font-family: 'ArialRegular';
                    font-size: 8px;
                    font-weight: bold
                }
            }
        }

        .ap-content-footer {
            margin-top: 5px;
            text-align: center;

            small {
                font-family: 'ArialBold';
                font-weight: bold;
                font-size: 8px;
            }

            .ap-details {
                margin-top: -8px;

                small {
                    font-size: 8px;
                }

            }

            .ap-details-first {
                margin-top: -4px;
            }

            .ap-details-last {
                font-family: 'ArialItalic';
                margin-top: -4px;
                font-style: italic;
            }
        }



    }

}