@font-face {
    font-family: 'ArialRegular';
    src: url('../../fonts/Arial/Arial-Regular.ttf')
}

@font-face {
    font-family: 'ArialItalic';
    src: url('../../fonts/Arial/Arial-Italic.ttf')
}

@font-face {
    font-family: 'ArialBold';
    src: url('../../fonts/Arial/Arial-Bold.ttf')
}

@font-face {
    font-family: 'BulldogBold';
    src: url('../../fonts/Bulldog/Bulldog-Bold.ttf')
}

@import './paper';
@import './header';
@import './content';