/* ==================================================
    Component: Paper
   ================================================== */

.ap-paper {
  font-family: serif;
  position: relative;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
}

.ap-paper-preview {
  width: 8.5in;
  margin: 10px auto;
  border: 1px solid #E5E5E5;
}

.ap-paper-footer {
  margin-top: 40px;
  text-align: center;
}

.ap-new-paper {
  page-break-before: always;
}

.ap-document-table {
  border-collapse: collapse;
  border-spacing: 0;
  /* 2 */
  width: 100%;
  margin-top: 20px;
}

.ap-document-table td {
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

.ap-mtop-50 {
  margin-top: 50px;
}

.ap-mtop-45 {
  margin-top: 45px;
}

.ap-mtop-40 {
  margin-top: 40px;
}

.ap-mtop-35 {
  margin-top: 35px;
}

.ap-mtop-30 {
  margin-top: 30px;
}

.ap-mtop-25 {
  margin-top: 25px;
}

.ap-mtop-20 {
  margin-top: 20px;
}

.ap-mtop-15 {
  margin-top: 15px;
}

.ap-mtop-10 {
  margin-top: 10px;
}

.ap-mtop-5 {
  margin-top: 5px;
}

.ap-text-right {
  text-align: right !important;
}

.ap-text-center {
  text-align: center !important;
}

.ap-text-bold {
  font-weight: bold !important;
}

.ap-text-italic {
  font-style: italic;
}

.ap-text-justify {
  text-align: justify;
}

.ap-text-underline {
  text-decoration: underline;
}

thead {
  display: table-header-group;
}

tfoot {
  display: table-row-group;
}

tr {
  page-break-inside: avoid;
}

.ap-header {
  text-align: center;
}

.ap-header .ap-header-image {
  width: 200px;
}

.ap-header .ap-header-title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.ap-header .ap-header-subtitle {
  font-weight: bold;
  font-size: 12px;
  margin-top: 2px;
}

.ap-header .ap-header-dates {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.ap-content ol > li {
  font-size: 11px !important;
}

.ap-content h4 {
  margin-bottom: 0px !important;
}

.ap-content .ap-content-details {
  margin-top: 20px;
}

.ap-content .ap-content-details .ap-content-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.ap-content .ap-content-details .ap-content-table tr {
  page-break-inside: avoid;
}

.ap-content .ap-content-details .ap-content-table td {
  padding: 1px 1px;
  vertical-align: top;
}

.ap-content .ap-content-details .ap-text-first {
  font-weight: bold;
  margin-top: 5px !important;
  margin-bottom: 0px;
}

.ap-content .ap-content-details .ap-text {
  font-weight: bold;
  margin: 0px;
}

.ap-content .ap-items-details .ap-items-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.ap-content .ap-items-details .ap-items-table th {
  padding: 6px 6px;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 9px;
}

.ap-content .ap-items-details .ap-items-table td {
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  vertical-align: top;
  text-align: center;
}

.ap-content .ap-items-details .ap-row-divider {
  border-top: 0.235px solid black;
}

.ap-content .ap-items-details .ap-row-background {
  background-color: #f1f1f1;
}

.ap-content .ap-items-details .ap-label {
  font-weight: bold;
  font-size: 9px;
}

.ap-content .ap-items-details .ap-text {
  font-weight: bold;
  margin: 0px;
  font-size: 11px;
}

.ap-content .ap-items-details .ap-sub-text {
  margin: 0px;
  font-size: 10px;
}

.ap-content .ap-items-details .ap-sub-text-italic {
  margin: 0px;
  font-size: 10px;
  font-style: italic;
}

.ap-content .ap-items-details .ap-sub-sub-text {
  margin: 0px;
  font-size: 9px;
}

.ap-content .ap-items-details .ap-text-title {
  font-weight: bold;
  margin: 0px;
  font-size: 14px;
}

.ap-content .ap-items-details .ap-total-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.ap-content .ap-items-details .ap-total-table th {
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  text-align: left;
  vertical-align: bottom;
  font-weight: bold;
}

.ap-content .ap-items-details .ap-total-table td {
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  vertical-align: top;
}

.ap-content .ap-items-details .ap-total-label {
  margin: 0px;
  font-size: 10px;
}

.ap-content .ap-items-details .ap-total-amount {
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
}

.ap-content .ap-items-details .ap-total-grand-label {
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
}

.ap-content .ap-items-details .ap-total-grand-amount {
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
}

.ap-content .ap-signature-details {
  margin-top: 20px;
}

.ap-content .ap-signature-details img {
  width: 200px;
}

.ap-content .ap-signature-details .ap-signature-table {
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.ap-content .ap-signature-details .ap-signature-table th {
  padding: 6px 6px;
  text-align: left;
  vertical-align: bottom;
  font-weight: bold;
}

.ap-content .ap-signature-details .ap-signature-table td {
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  vertical-align: top;
}

.ap-content .ap-section-details {
  margin-top: -10px;
}

.ap-content .ap-section-details .ap-section-title {
  font-weight: bold;
  margin: 0px;
  font-size: 14px;
}

